- challenge = Challenge.find(1)

%article{id: challenge.basename }
  = render 'lesson_header', locals: { lesson: challenge }

  %section.exercise
    :markdown
      ## Challenge 1: Allow A User to Change Their Monthly Budget

    %pre.goal
      :preserve
        Given I want to update my budget for different months
        Then I should be able to do so when I visit the site

    %section.step
      Please check on Lesson 14.
