- lesson = Lesson.find(6)
%article{id: lesson.basename }
  = render 'lesson_header', locals: { lesson: lesson }

  %section.exercise
    :markdown
      ## Exercise 1: Edit an Itinerary

    %pre.goal
      :preserve
        Given I have an itinerary
        When I go to the list of itineraries
        Then I should see a link to edit the itinerary
        When I click the link to edit the itinerary
        Then I should see a form for editing the itinerary
        When I edit the itinerary in the form and submit it
        Then I should see that the itinerary has been updated

    %section.step
      :markdown
        ### Issue 1: Missing Edit Itinerary link
            Given I have an itinerary
            When I go to the list of itineraries
            Then I should see a link to edit the itinerary

        #### Solution: I should see a link to edit the itinerary

            # app/views/itineraries/index.html.erb
            <td>
              <%= link_to 'Show', action: 'show', id: itinerary.id %>
              <%= link_to 'Edit', action: 'edit', id: itinerary.id %>
            </td>

    %section.step
      :markdown
        ### Issue 2: Missing edit action

            When I click the link to edit the itinerary
            Then I should see a form for editing the itinerary
            But instead I see
              Unknown action
              The action 'edit' could not be found for ItinerariesController

        #### Solution: Add edit action to ItinerariesController

            # app/controllers/itineraries_controller.rb
            class ItinerariesController < ApplicationController
              def edit
              end
            end

    %section.step
      :markdown
        ### Issue 3: Missing edit template

            When I click the link to edit the itinerary
            Then I should see a form for editing the itinerary
            But instead I see
              Template is missing: Missing template itineraries/edit, application/edit with
              { :locale=>[:en],
                :formats=>[:html],
                :handlers=>[:erb, :builder, :raw, :ruby, :jbuilder, :coffee]}.
              Searched in: * "C:/Users/George Mendoza/trips-app/app/views"

        #### Solution: Add itineraries/edit template

            # app/views/itineraries/edit.html.erb
            <h1>Edit Itinerary</h1>
            <%= form_for(Itinerary.find(params[:id])) do |f| %>
              <p>
                <%= f.label :location %>
                <%= f.text_field :location %>
              </p>

              <p>
                <%= f.label :travel_on %>
                <%= f.date_field :travel_on %>
              </p>

              <p>
                <%= f.submit %>
              </p>
            <% end %>

    %section.step
      :markdown
        ### Issue 4: Missing update action

            When I edit the itinerary in the form and submit it
            Then I should see that the itinerary has been updated
            But instead I see
              Unknown action: The action 'update' could not be found for
              ItinerariesController

        #### Solution: Add Update action

            # app/controllers/itineraries_controller.rb
            class ItinerariesController < ApplicationController
              def update
              end
            end

    %section.step
      :markdown
        ### Issue 5: Missing update template

            When I edit the itinerary in the form and submit it
            Then I should see that the itinerary has been updated
            But instead I see
              Template is missing: Missing template itineraries/update, application/update with
              { :locale=>[:en],
                :formats=>[:html],
                :handlers=>[:erb, :builder, :raw, :ruby, :jbuilder, :coffee]}.
              Searched in: * "C:/Users/George Mendoza/trips-app/app/views"

        #### Solution: Update the itinerary, save it, then show it

            # app/controllers/itineraries_controller.rb
            class ItinerariesController < ApplicationController
              def update
                @itinerary = Itinerary.find(params[:id])
                @itinerary.attributes = params[:itinerary].permit(:location, :travel_on)
                @itinerary.save
                redirect_to action: 'show', id: @itinerary.id
              end
            end

  %section.exercise
    :markdown
      ## Exercise 2: Refactor form

    %section.step
      :markdown
        ### Issue 6: find Itinerary in edit action instead of view

            As a developer
            I want the create and edit views to use the same form
            So that if I update the form, I only have to update it in one place

        #### Solution: Change Itinerary.find(params[:id]) to a @itinerary

            # app/views/itineraries/edit.html.erb
            <%= form_for(@itinerary) do |f| %>

    %section.step
      :markdown
        ### Issue 7: @itinerary is nil

            When I click the link to edit the itinerary
            Then I should see a form for editing the itinerary
            But instead I see
              Showing C:/Users/George Mendoza/trips-app/app/views/itineraries/edit.html.erb
              where line #2 raised:
              First argument in form cannot contain nil or be empty
              Line 2: <%= form_for(@itinerary) do |f| %>

        #### Solution: Set @itinerary to Itinerary.find(params[:id])

            # app/controllers/itineraries_controller.rb
            def edit
              @itinerary = Itinerary.find(params[:id])
            end

    %section.step
      :markdown
        ### Issue 8: New page does not use @itinerary variable

            As a developer
            I want the New page to use the @itinerary variable
            So that the New and Edit page will be nearly the same

        #### Solution: Move Itinerary.new to itineraries/new

            # app/views/itineraries/new.html.erb
            <%= form_for(@itinerary) do |f| %>

            # app/controllers/itineraries_controller.rb
            def new
              @itinerary = Itinerary.new
            end

    %section.step
      :markdown
        ### Issue 9: New and Edit page are near duplicates

            As a developer
            I want the New and Edit page to use the same form partial
            So that if I update the form, I only have to update it once

        #### Solution: Update edit page: replace form with partial

            # app/views/itineraries/edit.html.erb
            <h1>Edit Itinerary</h1>
            <%= render 'form' %>

    %section.step
      :markdown
        ### Issue 10: Missing form partial

            When I click the link to edit the itinerary
            Then I should see a form for editing the itinerary
            But instead I see
              Missing partial itineraries/form, application/form with {
                :locale=>[:en],
                :formats=>[:html],
                :handlers=>[:erb, :builder, :raw, :ruby, :jbuilder, :coffee]}.
              Searched in:
                "C:/Users/George Mendoza/trips-app/app/views"
              Extracted source (around line #2):
                <%= render 'form' %>

        #### Solution: Add form partial

            # app/views/itineraries/_form.html.erb
            <%= form_for(@itinerary) do |f| %>
              <p>
                <%= f.label :location %>
                <%= f.text_field :location %>
              </p>

              <p>
                <%= f.label :travel_on %>
                <%= f.date_field :travel_on %>
              </p>

              <p>
                <%= f.submit %>
              </p>
            <% end %>

    %section.step
      :markdown
        ### Issue 11: New page is not using the form partial

            As a developer
            I want the New page to use the same form partial the Edit page uses

        #### Solution: Render form partial in New page

            # app/views/itineraries/new.html.erb
            <h1>New Itinerary</h1>
            <%= render 'form' %>
