- lesson = Lesson.find(9)
%article{id: lesson.basename }
  = render 'lesson_header', locals: { lesson: lesson }

  %section.exercise
    :markdown
      ## Exercise 1: Delete an Itinerary

    %pre.goal
      :preserve
        When I view an itinerary
        Then I should see a button to delete the itinerary
        When I click the delete button
        Then I should see that the itinerary has been deleted

    %section.step
      :markdown
        ### Issue 1: No delete button

            When I view an itinerary
            Then I should see a button to delete the itinerary
            But I see none

        #### Solution: Add a form to delete the itinerary

            # app/views/itineraries/show.html.erb
            <%= form_for(@itinerary, method: :delete, html: { role: 'form' }) do |f| %>
              <%= f.submit 'Delete Itinerary', class: 'btn btn-primary' %>
              <%= link_to 'Back', { action: 'index' }, class: 'btn btn-default' %>
            <% end %>

    %section.step
      :markdown
        ### Issue 2: Unknown `destroy` action

            When I click the delete button
            Then I should be informed that the itinerary has been deleted
            But instead I see
              Unknown action
              The action 'destroy' could not be found for ItinerariesController

        #### Solution: Add destroy action to ItinerariesController

            # app/controllers/itineraries_controller.rb
            class ItinerariesController < ApplicationController
              def destroy
              end
            end

    %section.step
      :markdown
        ### Issue 3: Missing destroy template

            When I click the delete button
            Then I should be informed that the itinerary has been deleted
            But instead I see
              Template is missing: Missing template itineraries/destroy, application/destroy with
              { :locale=>[:en],
                :formats=>[:html],
                :handlers=>[:erb, :builder, :raw, :ruby, :jbuilder, :coffee]}.
              Searched in: * "C:/Users/George Mendoza/trips-app/app/views"

        #### Solution: Destroy the itinerary, then show the list of itineraries

            # app/controllers/itineraries_controller.rb
            class ItinerariesController < ApplicationController
              def destroy
                @itinerary = Itinerary.find(params[:id])
                @itinerary.destroy
                redirect_to action: index
              end
            end

  %section.exercise
    :markdown
      ## Exercise 2: Notify me when the itinerary is deleted

    %pre.goal
      :preserve
          When I view an itinerary
          Then I should see a button to delete the itinerary
          When I click the delete button
          Then I should see that the itinerary has been deleted
          And I should be informed that it has been deleted

    %section.step
      :markdown
        ## Issue 4: I am not informed if the itinerary is deleted

            When I click the delete button
            Then I should see that the itinerary has been deleted
            And I should be informed that it has been deleted
            But I do not see any notice

        #### Solution: We create a view partial for alert messages

            # app/views/shared/_flash_message.html.erb
            <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
                  <a class="close" data-dismiss="alert">&#215;</a>
                  <%= content_tag :div, msg %>
                </div>
            <% end %>


        #### Solution: We update the layout to include the partial

        We add this just above yield where all content shows up.

            # app/views/layout/application.html.erb
            <%= render 'shared/flash_message' %>
            <%= yield %>

    %section.step
      :markdown
        ### Issue 5: Nope, still not informed

            When I click the delete button
            And I should be informed that it has been deleted
            But instead I am STILL not informed that it has been deleted

        #### Solution: Change the notice to a flash message
            # app/controllers/itineraries_controller.rb
            def destroy
              @itinerary = Itinerary.find(params[:id])
              @itinerary.destroy
              flash[:notice] = "You have successfully deleted a itinerary"
              redirect_to action: 'index'
            end


    %section.step
      :markdown
        ### Issue 6: Cannot delete itineraries from index page

            When I view itineraries
            Then I should see delete option on the page
            And when I click on the delete link
            Then I should see a notice that my itinerary was deleted


        #### Solution: Add the delete link on app/views/itineraries/index.html.erb
            # app/views/itineraries/index.html.erb
             <td>
               <%= link_to 'Show', { action: 'show', id: itinerary.id }, class: 'btn btn-default' %>
               <%= link_to 'Edit', { action: 'edit', id: itinerary.id }, class: 'btn btn-default' %>
               <%= link_to 'Delete', { action: 'show', id: itinerary.id }, method: 'delete', confirm: "Are you sure you want to delete this?", class: 'btn btn-default' %>
             </td>
