%article
  %h2
    Table of Contents

  %ol
    - Lesson.published.each do |lesson|
      %li
        = link_to lesson.title, "##{lesson.basename}"
        %a{href: lesson.basename, target: "_blank"}
          %img{src: 'vendor/i.stack.imgur.com/3H2PQ.png', title: 'Open in new window', alt: 'Open lesson in new window'}

%article
  - Lesson.published.each do |lesson|
    = render_template lesson.basename
