%article
  %ol
    - Lesson.published.each do |lesson|
      %li
        %span
          = link_to lesson.title, "##{lesson.basename}"
          %a{ href: lesson.basename, target: "_blank", class: "icon-popup", title: 'Open lesson in new window'}
            &nbsp;

%article
  - Lesson.published.each do |lesson|
    = render_template lesson.basename
