@charset "UTF-8";
@font-face {
  font-family: prussian_brew_solidregular;
  font-weight: normal;
  font-style: normal;
  src: url("/images/prbrs___-webfont.eot");
  src: url("/images/prbrs___-webfont.eot?#iefix") format("embedded-opentype"), url("/images/prbrs___-webfont.woff") format("woff"), url("/images/prbrs___-webfont.ttf") format("truetype"), url("/images/prbrs___-webfont.svg#prussian_brew_solidregular") format("svg");
}

@font-face {
  font-family: fontello;
  font-weight: normal;
  font-style: normal;
  src: url("/images/fontello.eot");
  src: url("/images/fontello.eot?#iefix") format("embedded-opentype"), url("/images/fontello.woff") format("woff"), url("/images/fontello.ttf") format("truetype"), url("/images/fontello.svg#fontello") format("svg");
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart:before {
  content: '\e80d';
}

/* '' */
.icon-ok-1:before {
  content: '\e80a';
}

/* '' */
.icon-cancel:before {
  content: '\e80c';
}

/* '' */
.icon-left-circle:before {
  content: '\e810';
}

/* '' */
.icon-right-circle:before {
  content: '\e811';
}

/* '' */
.icon-doc:before {
  content: '\e80b';
}

/* '' */
.icon-rss:before {
  content: '\e812';
}

/* '' */
.icon-popup:before {
  content: '\e80e';
}

/* '' */
.icon-user:before {
  content: '\e80f';
}

/* '' */
html,
button,
input,
select,
textarea {
  color: #222;
}

html, body {
  background: url("/images/background.png");
}

body {
  font-size: 1em;
  line-height: 1.4;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

h1 {
  font-family: "prussian_brew_solidregular", Arial, sans-serif;
}

.header-container h1 {
  margin: 0;
  padding: 0;
}

.header-container,
.main aside {
  background: #303E4D;
}

.title {
  color: white;
}

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

a {
  color: #cc0033;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #cc0000;
}

h1.guide-title {
  padding: 10px 0px;
}

h1.guide-title a {
  color: #FFF;
  font-weight: lighter;
  font-size: 160%;
  line-height: 1em;
  text-decoration: none;
}

h1.guide-title a span {
  display: block;
  font-size: 60% !important;
  font-weight: lighter;
}

h1.guide-title a:hover {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}

ol.nice {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

ol.nice ol {
  margin: 0 0 0 2em;
}

ol.nice span {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: 10px 0px 0px 20px;
  background: #ddd;
  color: #FFF;
  text-decoration: none;
  -webkit-border-radius: 0.3em 0.3em;
  -moz-border-radius: 0.3em / 0.3em;
  border-radius: 0.3em / 0.3em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

ol.nice span:hover {
  background: #eee;
}

ol.nice span:hover:before {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

ol.nice span:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #4286a5;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 2em 2em;
  -moz-border-radius: 2em / 2em;
  border-radius: 2em / 2em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media only screen and (min-width: 768px) {
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

  .guide-title {
    float: left;
  }

  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
