@import 'mixins';
@include font-face(prussian_brew_solidregular, '/images/prbrs___-webfont', normal);
@include font-face(fontello, '/images/fontello', normal);
@import 'fontello';
@import 'grid';

$header-font-family: "prussian_brew_solidregular", Arial, sans-serif;
$default-text-shadow-color: rgba(black, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;
$link_color: #c00000;
$default-transition-property : all;
$default-transition-duration : 0.3s;
$default-transition-function : ease-out;
$default-transition-delay    : false;

html, body{
  width: 100%;
  overflow-y: hidden;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

html, body {
  background: url('/images/background.png');
}

body {
  font-size: 1em;
  line-height: 1.4;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.nav-container {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header-container {
  margin-top: 45px;
}

h1 {
  font-family: $header-font-family;
}

.header-container h1 {
  margin: 0;
  padding: 0;
}

.nav-container,
.header-container,
.main aside {
  background: #303E4D;
}

.title {
  color: white;
}

.nav-container  {
  padding-top: 15px;
}

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
  margin-bottom: 7px;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.main-container {

}
.footer-container footer {
  color: white;
  padding: 20px 0;
}

// Links

a {
  color: #cc0033;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #cc0000;
}

// Headings
h1.guide-title {
  padding: 10px 0px;
}

h1.guide-title a{
  color: #FFF;
  font-weight: lighter;
  font-size: 160%;
  line-height: 1em;
  text-decoration: none;
}

h1.guide-title span {
  display: inline-block;
  font-weight: lighter;
  color: #FFF;
}

h1.guide-title a:hover {
  @include single-text-shadow;
}

// Lists


ol.nice {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol.nice ol{
  margin: 0 0 0 2em;
}


ol.nice span{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: 10px 0px 0px 20px;
  background: #ddd;
  color: #FFF;
  text-decoration: none;
  @include border-radius(.3em, .3em);
  @include transition;
}

ol.nice span:hover{
  background: #eee;
}

ol.nice span:hover:before{
  @include rotate(360deg);
}

ol.nice span:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #4286a5;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  @include border-radius(2em, 2em);
  @include transition;
}

section.step ol{
  margin-left: 22px;
}

p {
  margin-bottom: 10px;
}

section.tips {
  color: #333;
}

pre.goal {
  margin-bottom: 25px;
}

.main h2 {
  margin-bottom: 10px;
}

ul.unstyled li {
  list-style-type: none;
}
